<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>seven</key>
	<dict>
	    <key>six</key>
	    <integer>-45</integer>
	    <key>four</key>
	    <integer>-45</integer>
	</dict>
	<key>B</key>
	<dict>
	    <key>Aogonek</key>
	    <integer>-29</integer>
	    <key>Abreve</key>
	    <integer>-29</integer>
	    <key>Amacron</key>
	    <integer>-29</integer>
	    <key>Aring</key>
	    <integer>-29</integer>
	    <key>Adieresis</key>
	    <integer>-29</integer>
	    <key>Atilde</key>
	    <integer>-29</integer>
	    <key>Acircumflex</key>
	    <integer>-29</integer>
	    <key>Aacute</key>
	    <integer>-29</integer>
	    <key>Agrave</key>
	    <integer>-29</integer>
	    <key>A</key>
	    <integer>-29</integer>
	</dict>
	<key>D</key>
	<dict>
	    <key>AE</key>
	    <integer>-85</integer>
	</dict>
	<key>F</key>
	<dict>
	    <key>scommaaccent</key>
	    <integer>-54</integer>
	    <key>zcaron</key>
	    <integer>-67</integer>
	    <key>zdotaccent</key>
	    <integer>-67</integer>
	    <key>zacute</key>
	    <integer>-67</integer>
	    <key>wcircumflex</key>
	    <integer>-52</integer>
	    <key>uogonek</key>
	    <integer>-52</integer>
	    <key>uhungarumlaut</key>
	    <integer>-56</integer>
	    <key>uring</key>
	    <integer>-56</integer>
	    <key>ubreve</key>
	    <integer>-56</integer>
	    <key>umacron</key>
	    <integer>-56</integer>
	    <key>utilde</key>
	    <integer>-56</integer>
	    <key>scedilla</key>
	    <integer>-54</integer>
	    <key>rcommaaccent</key>
	    <integer>-52</integer>
	    <key>oe</key>
	    <integer>-63</integer>
	    <key>OE</key>
	    <integer>-27</integer>
	    <key>ohungarumlaut</key>
	    <integer>-58</integer>
	    <key>Ohungarumlaut</key>
	    <integer>-27</integer>
	    <key>Obreve</key>
	    <integer>-27</integer>
	    <key>Omacron</key>
	    <integer>-27</integer>
	    <key>eng</key>
	    <integer>-52</integer>
	    <key>ncaron</key>
	    <integer>-56</integer>
	    <key>ncommaaccent</key>
	    <integer>-52</integer>
	    <key>nacute</key>
	    <integer>-56</integer>
	    <key>dotlessi</key>
	    <integer>-52</integer>
	    <key>gcommaaccent</key>
	    <integer>-67</integer>
	    <key>Gcommaaccent</key>
	    <integer>-27</integer>
	    <key>gdotaccent</key>
	    <integer>-67</integer>
	    <key>Gdotaccent</key>
	    <integer>-27</integer>
	    <key>gbreve</key>
	    <integer>-67</integer>
	    <key>Gbreve</key>
	    <integer>-27</integer>
	    <key>gcircumflex</key>
	    <integer>-67</integer>
	    <key>Gcircumflex</key>
	    <integer>-27</integer>
	    <key>eogonek</key>
	    <integer>-63</integer>
	    <key>edotaccent</key>
	    <integer>-58</integer>
	    <key>ebreve</key>
	    <integer>-58</integer>
	    <key>emacron</key>
	    <integer>-58</integer>
	    <key>dcaron</key>
	    <integer>-63</integer>
	    <key>ccaron</key>
	    <integer>-58</integer>
	    <key>Ccaron</key>
	    <integer>-27</integer>
	    <key>cdotaccent</key>
	    <integer>-58</integer>
	    <key>Cdotaccent</key>
	    <integer>-27</integer>
	    <key>ccircumflex</key>
	    <integer>-58</integer>
	    <key>Ccircumflex</key>
	    <integer>-27</integer>
	    <key>cacute</key>
	    <integer>-58</integer>
	    <key>Cacute</key>
	    <integer>-27</integer>
	    <key>aogonek</key>
	    <integer>-67</integer>
	    <key>Aogonek</key>
	    <integer>-104</integer>
	    <key>abreve</key>
	    <integer>-67</integer>
	    <key>Abreve</key>
	    <integer>-104</integer>
	    <key>amacron</key>
	    <integer>-67</integer>
	    <key>Amacron</key>
	    <integer>-104</integer>
	    <key>udieresis</key>
	    <integer>-56</integer>
	    <key>ucircumflex</key>
	    <integer>-56</integer>
	    <key>uacute</key>
	    <integer>-56</integer>
	    <key>ugrave</key>
	    <integer>-56</integer>
	    <key>oslash</key>
	    <integer>-63</integer>
	    <key>odieresis</key>
	    <integer>-58</integer>
	    <key>otilde</key>
	    <integer>-58</integer>
	    <key>ocircumflex</key>
	    <integer>-58</integer>
	    <key>oacute</key>
	    <integer>-58</integer>
	    <key>ograve</key>
	    <integer>-58</integer>
	    <key>ntilde</key>
	    <integer>-56</integer>
	    <key>edieresis</key>
	    <integer>-58</integer>
	    <key>ecircumflex</key>
	    <integer>-58</integer>
	    <key>eacute</key>
	    <integer>-58</integer>
	    <key>egrave</key>
	    <integer>-58</integer>
	    <key>ccedilla</key>
	    <integer>-63</integer>
	    <key>aring</key>
	    <integer>-67</integer>
	    <key>adieresis</key>
	    <integer>-67</integer>
	    <key>atilde</key>
	    <integer>-67</integer>
	    <key>acircumflex</key>
	    <integer>-67</integer>
	    <key>aacute</key>
	    <integer>-67</integer>
	    <key>agrave</key>
	    <integer>-67</integer>
	    <key>Oslash</key>
	    <integer>-27</integer>
	    <key>Odieresis</key>
	    <integer>-27</integer>
	    <key>Otilde</key>
	    <integer>-27</integer>
	    <key>Ocircumflex</key>
	    <integer>-27</integer>
	    <key>Oacute</key>
	    <integer>-27</integer>
	    <key>Ograve</key>
	    <integer>-27</integer>
	    <key>Aring</key>
	    <integer>-104</integer>
	    <key>Adieresis</key>
	    <integer>-104</integer>
	    <key>Atilde</key>
	    <integer>-104</integer>
	    <key>Acircumflex</key>
	    <integer>-104</integer>
	    <key>Aacute</key>
	    <integer>-104</integer>
	    <key>Agrave</key>
	    <integer>-104</integer>
	    <key>w</key>
	    <integer>-52</integer>
	    <key>v</key>
	    <integer>-52</integer>
	    <key>u</key>
	    <integer>-52</integer>
	    <key>s</key>
	    <integer>-54</integer>
	    <key>r</key>
	    <integer>-52</integer>
	    <key>p</key>
	    <integer>-52</integer>
	    <key>o</key>
	    <integer>-63</integer>
	    <key>n</key>
	    <integer>-52</integer>
	    <key>m</key>
	    <integer>-52</integer>
	    <key>g</key>
	    <integer>-67</integer>
	    <key>e</key>
	    <integer>-63</integer>
	    <key>d</key>
	    <integer>-63</integer>
	    <key>c</key>
	    <integer>-63</integer>
	    <key>a</key>
	    <integer>-67</integer>
	    <key>Q</key>
	    <integer>-27</integer>
	    <key>O</key>
	    <integer>-27</integer>
	    <key>G</key>
	    <integer>-27</integer>
	    <key>C</key>
	    <integer>-27</integer>
	    <key>A</key>
	    <integer>-104</integer>
	    <key>period</key>
	    <integer>-78</integer>
	    <key>comma</key>
	    <integer>-78</integer>
	    <key>AE</key>
	    <integer>-166</integer>
	    <key>z</key>
	    <integer>-67</integer>
	    <key>M</key>
	    <integer>-89</integer>
	</dict>
	<key>M</key>
	<dict>
	    <key>quotedblright</key>
	    <integer>-74</integer>
	    <key>quotedblleft</key>
	    <integer>-74</integer>
	    <key>quoteright</key>
	    <integer>-74</integer>
	    <key>quoteleft</key>
	    <integer>-74</integer>
	    <key>uni021A</key>
	    <integer>-77</integer>
	    <key>Ydieresis</key>
	    <integer>-92</integer>
	    <key>ycircumflex</key>
	    <integer>-45</integer>
	    <key>Ycircumflex</key>
	    <integer>-92</integer>
	    <key>Wcircumflex</key>
	    <integer>-70</integer>
	    <key>Uogonek</key>
	    <integer>-33</integer>
	    <key>Uhungarumlaut</key>
	    <integer>-33</integer>
	    <key>Uring</key>
	    <integer>-33</integer>
	    <key>Ubreve</key>
	    <integer>-33</integer>
	    <key>Umacron</key>
	    <integer>-33</integer>
	    <key>Utilde</key>
	    <integer>-33</integer>
	    <key>Tbar</key>
	    <integer>-77</integer>
	    <key>Tcaron</key>
	    <integer>-77</integer>
	    <key>uni0162</key>
	    <integer>-77</integer>
	    <key>OE</key>
	    <integer>-33</integer>
	    <key>Ohungarumlaut</key>
	    <integer>-33</integer>
	    <key>Obreve</key>
	    <integer>-33</integer>
	    <key>Omacron</key>
	    <integer>-33</integer>
	    <key>Gcommaaccent</key>
	    <integer>-33</integer>
	    <key>Gdotaccent</key>
	    <integer>-33</integer>
	    <key>Gbreve</key>
	    <integer>-33</integer>
	    <key>Gcircumflex</key>
	    <integer>-33</integer>
	    <key>Ccaron</key>
	    <integer>-33</integer>
	    <key>Cdotaccent</key>
	    <integer>-33</integer>
	    <key>Ccircumflex</key>
	    <integer>-33</integer>
	    <key>Cacute</key>
	    <integer>-33</integer>
	    <key>ydieresis</key>
	    <integer>-45</integer>
	    <key>yacute</key>
	    <integer>-45</integer>
	    <key>Yacute</key>
	    <integer>-92</integer>
	    <key>Udieresis</key>
	    <integer>-33</integer>
	    <key>Ucircumflex</key>
	    <integer>-33</integer>
	    <key>Uacute</key>
	    <integer>-33</integer>
	    <key>Ugrave</key>
	    <integer>-33</integer>
	    <key>Oslash</key>
	    <integer>-33</integer>
	    <key>Odieresis</key>
	    <integer>-33</integer>
	    <key>Otilde</key>
	    <integer>-33</integer>
	    <key>Ocircumflex</key>
	    <integer>-33</integer>
	    <key>Oacute</key>
	    <integer>-33</integer>
	    <key>Ograve</key>
	    <integer>-33</integer>
	    <key>y</key>
	    <integer>-45</integer>
	    <key>Y</key>
	    <integer>-92</integer>
	    <key>W</key>
	    <integer>-70</integer>
	    <key>V</key>
	    <integer>-70</integer>
	    <key>U</key>
	    <integer>-33</integer>
	    <key>T</key>
	    <integer>-77</integer>
	    <key>Q</key>
	    <integer>-33</integer>
	    <key>O</key>
	    <integer>-33</integer>
	    <key>G</key>
	    <integer>-33</integer>
	    <key>C</key>
	    <integer>-33</integer>
	    <key>quotesingle</key>
	    <integer>-74</integer>
	    <key>quotedbl</key>
	    <integer>-74</integer>
	</dict>
	<key>O</key>
	<dict>
	    <key>AE</key>
	    <integer>-49</integer>
	    <key>x</key>
	    <integer>-25</integer>
	    <key>X</key>
	    <integer>-37</integer>
	</dict>
	<key>P</key>
	<dict>
	    <key>scommaaccent</key>
	    <integer>-22</integer>
	    <key>zcaron</key>
	    <integer>-15</integer>
	    <key>zdotaccent</key>
	    <integer>-15</integer>
	    <key>zacute</key>
	    <integer>-15</integer>
	    <key>wcircumflex</key>
	    <integer>-22</integer>
	    <key>uogonek</key>
	    <integer>-22</integer>
	    <key>uhungarumlaut</key>
	    <integer>-22</integer>
	    <key>uring</key>
	    <integer>-22</integer>
	    <key>ubreve</key>
	    <integer>-22</integer>
	    <key>umacron</key>
	    <integer>-22</integer>
	    <key>utilde</key>
	    <integer>-22</integer>
	    <key>scedilla</key>
	    <integer>-22</integer>
	    <key>rcommaaccent</key>
	    <integer>-22</integer>
	    <key>oe</key>
	    <integer>-62</integer>
	    <key>ohungarumlaut</key>
	    <integer>-33</integer>
	    <key>eng</key>
	    <integer>-22</integer>
	    <key>ncaron</key>
	    <integer>-22</integer>
	    <key>ncommaaccent</key>
	    <integer>-22</integer>
	    <key>nacute</key>
	    <integer>-22</integer>
	    <key>dotlessi</key>
	    <integer>-22</integer>
	    <key>gcommaaccent</key>
	    <integer>-69</integer>
	    <key>gdotaccent</key>
	    <integer>-69</integer>
	    <key>gbreve</key>
	    <integer>-69</integer>
	    <key>gcircumflex</key>
	    <integer>-69</integer>
	    <key>eogonek</key>
	    <integer>-62</integer>
	    <key>edotaccent</key>
	    <integer>-33</integer>
	    <key>ebreve</key>
	    <integer>-33</integer>
	    <key>emacron</key>
	    <integer>-33</integer>
	    <key>dcaron</key>
	    <integer>-62</integer>
	    <key>ccaron</key>
	    <integer>-33</integer>
	    <key>cdotaccent</key>
	    <integer>-33</integer>
	    <key>ccircumflex</key>
	    <integer>-33</integer>
	    <key>cacute</key>
	    <integer>-33</integer>
	    <key>aogonek</key>
	    <integer>-75</integer>
	    <key>Aogonek</key>
	    <integer>-100</integer>
	    <key>abreve</key>
	    <integer>-69</integer>
	    <key>Abreve</key>
	    <integer>-100</integer>
	    <key>amacron</key>
	    <integer>-69</integer>
	    <key>Amacron</key>
	    <integer>-100</integer>
	    <key>udieresis</key>
	    <integer>-22</integer>
	    <key>ucircumflex</key>
	    <integer>-22</integer>
	    <key>uacute</key>
	    <integer>-22</integer>
	    <key>ugrave</key>
	    <integer>-22</integer>
	    <key>oslash</key>
	    <integer>-62</integer>
	    <key>odieresis</key>
	    <integer>-33</integer>
	    <key>otilde</key>
	    <integer>-33</integer>
	    <key>ocircumflex</key>
	    <integer>-33</integer>
	    <key>oacute</key>
	    <integer>-33</integer>
	    <key>ograve</key>
	    <integer>-33</integer>
	    <key>ntilde</key>
	    <integer>-22</integer>
	    <key>edieresis</key>
	    <integer>-33</integer>
	    <key>ecircumflex</key>
	    <integer>-33</integer>
	    <key>eacute</key>
	    <integer>-33</integer>
	    <key>egrave</key>
	    <integer>-33</integer>
	    <key>ccedilla</key>
	    <integer>-62</integer>
	    <key>aring</key>
	    <integer>-69</integer>
	    <key>adieresis</key>
	    <integer>-69</integer>
	    <key>atilde</key>
	    <integer>-69</integer>
	    <key>acircumflex</key>
	    <integer>-69</integer>
	    <key>aacute</key>
	    <integer>-69</integer>
	    <key>agrave</key>
	    <integer>-69</integer>
	    <key>Aring</key>
	    <integer>-100</integer>
	    <key>Adieresis</key>
	    <integer>-100</integer>
	    <key>Atilde</key>
	    <integer>-100</integer>
	    <key>Acircumflex</key>
	    <integer>-100</integer>
	    <key>Aacute</key>
	    <integer>-100</integer>
	    <key>Agrave</key>
	    <integer>-100</integer>
	    <key>w</key>
	    <integer>-22</integer>
	    <key>v</key>
	    <integer>-22</integer>
	    <key>u</key>
	    <integer>-22</integer>
	    <key>s</key>
	    <integer>-22</integer>
	    <key>r</key>
	    <integer>-22</integer>
	    <key>p</key>
	    <integer>-22</integer>
	    <key>o</key>
	    <integer>-62</integer>
	    <key>n</key>
	    <integer>-22</integer>
	    <key>m</key>
	    <integer>-22</integer>
	    <key>g</key>
	    <integer>-69</integer>
	    <key>e</key>
	    <integer>-62</integer>
	    <key>d</key>
	    <integer>-62</integer>
	    <key>c</key>
	    <integer>-62</integer>
	    <key>a</key>
	    <integer>-75</integer>
	    <key>A</key>
	    <integer>-100</integer>
	    <key>period</key>
	    <integer>-111</integer>
	    <key>comma</key>
	    <integer>-111</integer>
	    <key>AE</key>
	    <integer>-166</integer>
	    <key>z</key>
	    <integer>-15</integer>
	    <key>X</key>
	    <integer>-45</integer>
	    <key>M</key>
	    <integer>-61</integer>
	</dict>
	<key>Q</key>
	<dict>
	    <key>AE</key>
	    <integer>-49</integer>
	    <key>x</key>
	    <integer>-25</integer>
	    <key>X</key>
	    <integer>-37</integer>
	</dict>
	<key>T</key>
	<dict>
	    <key>AE</key>
	    <integer>-122</integer>
	    <key>z</key>
	    <integer>-116</integer>
	    <key>x</key>
	    <integer>-104</integer>
	    <key>M</key>
	    <integer>-71</integer>
	</dict>
	<key>U</key>
	<dict>
	    <key>AE</key>
	    <integer>-40</integer>
	    <key>z</key>
	    <integer>-22</integer>
	    <key>M</key>
	    <integer>-19</integer>
	</dict>
	<key>V</key>
	<dict>
	    <key>AE</key>
	    <integer>-200</integer>
	    <key>z</key>
	    <integer>-89</integer>
	    <key>M</key>
	    <integer>-111</integer>
	</dict>
	<key>W</key>
	<dict>
	    <key>AE</key>
	    <integer>-200</integer>
	    <key>z</key>
	    <integer>-89</integer>
	    <key>M</key>
	    <integer>-111</integer>
	</dict>
	<key>X</key>
	<dict>
	    <key>OE</key>
	    <integer>-45</integer>
	    <key>Ohungarumlaut</key>
	    <integer>-45</integer>
	    <key>Obreve</key>
	    <integer>-45</integer>
	    <key>Omacron</key>
	    <integer>-45</integer>
	    <key>Gcommaaccent</key>
	    <integer>-45</integer>
	    <key>Gdotaccent</key>
	    <integer>-45</integer>
	    <key>Gbreve</key>
	    <integer>-45</integer>
	    <key>Gcircumflex</key>
	    <integer>-45</integer>
	    <key>Ccaron</key>
	    <integer>-45</integer>
	    <key>Cdotaccent</key>
	    <integer>-45</integer>
	    <key>Ccircumflex</key>
	    <integer>-45</integer>
	    <key>Cacute</key>
	    <integer>-45</integer>
	    <key>Oslash</key>
	    <integer>-45</integer>
	    <key>Odieresis</key>
	    <integer>-45</integer>
	    <key>Otilde</key>
	    <integer>-45</integer>
	    <key>Ocircumflex</key>
	    <integer>-45</integer>
	    <key>Oacute</key>
	    <integer>-45</integer>
	    <key>Ograve</key>
	    <integer>-45</integer>
	    <key>Q</key>
	    <integer>-45</integer>
	    <key>O</key>
	    <integer>-45</integer>
	    <key>G</key>
	    <integer>-45</integer>
	    <key>C</key>
	    <integer>-45</integer>
	</dict>
	<key>Y</key>
	<dict>
	    <key>AE</key>
	    <integer>-133</integer>
	    <key>z</key>
	    <integer>-78</integer>
	    <key>M</key>
	    <integer>-82</integer>
	</dict>
	<key>b</key>
	<dict>
	    <key>z</key>
	    <integer>-27</integer>
	    <key>x</key>
	    <integer>-21</integer>
	</dict>
	<key>f</key>
	<dict>
	    <key>question</key>
	    <integer>67</integer>
	</dict>
	<key>g</key>
	<dict>
	    <key>f</key>
	    <integer>25</integer>
	</dict>
	<key>l</key>
	<dict>
	    <key>ycircumflex</key>
	    <integer>-12</integer>
	    <key>ydieresis</key>
	    <integer>-12</integer>
	    <key>yacute</key>
	    <integer>-12</integer>
	    <key>y</key>
	    <integer>-12</integer>
	</dict>
	<key>o</key>
	<dict>
	    <key>z</key>
	    <integer>-27</integer>
	    <key>x</key>
	    <integer>-21</integer>
	</dict>
	<key>p</key>
	<dict>
	    <key>z</key>
	    <integer>-27</integer>
	    <key>x</key>
	    <integer>-21</integer>
	</dict>
	<key>t</key>
	<dict>
	    <key>oe</key>
	    <integer>-11</integer>
	    <key>eogonek</key>
	    <integer>-11</integer>
	    <key>dcaron</key>
	    <integer>-11</integer>
	    <key>oslash</key>
	    <integer>-11</integer>
	    <key>ccedilla</key>
	    <integer>-11</integer>
	    <key>o</key>
	    <integer>-11</integer>
	    <key>e</key>
	    <integer>-11</integer>
	    <key>d</key>
	    <integer>-11</integer>
	    <key>c</key>
	    <integer>-11</integer>
	</dict>
	<key>x</key>
	<dict>
	    <key>oe</key>
	    <integer>-29</integer>
	    <key>ohungarumlaut</key>
	    <integer>-25</integer>
	    <key>eogonek</key>
	    <integer>-29</integer>
	    <key>edotaccent</key>
	    <integer>-25</integer>
	    <key>ebreve</key>
	    <integer>-25</integer>
	    <key>emacron</key>
	    <integer>-25</integer>
	    <key>dcaron</key>
	    <integer>-29</integer>
	    <key>ccaron</key>
	    <integer>-25</integer>
	    <key>cdotaccent</key>
	    <integer>-25</integer>
	    <key>ccircumflex</key>
	    <integer>-25</integer>
	    <key>cacute</key>
	    <integer>-25</integer>
	    <key>aogonek</key>
	    <integer>-25</integer>
	    <key>abreve</key>
	    <integer>-25</integer>
	    <key>amacron</key>
	    <integer>-25</integer>
	    <key>oslash</key>
	    <integer>-29</integer>
	    <key>odieresis</key>
	    <integer>-25</integer>
	    <key>otilde</key>
	    <integer>-25</integer>
	    <key>ocircumflex</key>
	    <integer>-25</integer>
	    <key>oacute</key>
	    <integer>-25</integer>
	    <key>ograve</key>
	    <integer>-25</integer>
	    <key>edieresis</key>
	    <integer>-25</integer>
	    <key>ecircumflex</key>
	    <integer>-25</integer>
	    <key>eacute</key>
	    <integer>-25</integer>
	    <key>egrave</key>
	    <integer>-25</integer>
	    <key>ccedilla</key>
	    <integer>-29</integer>
	    <key>aring</key>
	    <integer>-25</integer>
	    <key>adieresis</key>
	    <integer>-25</integer>
	    <key>atilde</key>
	    <integer>-25</integer>
	    <key>acircumflex</key>
	    <integer>-25</integer>
	    <key>aacute</key>
	    <integer>-25</integer>
	    <key>agrave</key>
	    <integer>-25</integer>
	    <key>o</key>
	    <integer>-29</integer>
	    <key>e</key>
	    <integer>-29</integer>
	    <key>d</key>
	    <integer>-29</integer>
	    <key>c</key>
	    <integer>-29</integer>
	    <key>a</key>
	    <integer>-25</integer>
	</dict>
	<key>y</key>
	<dict>
	    <key>x</key>
	    <integer>-12</integer>
	</dict>
	<key>z</key>
	<dict>
	    <key>oe</key>
	    <integer>-23</integer>
	    <key>eogonek</key>
	    <integer>-23</integer>
	    <key>dcaron</key>
	    <integer>-23</integer>
	    <key>oslash</key>
	    <integer>-23</integer>
	    <key>ccedilla</key>
	    <integer>-23</integer>
	    <key>o</key>
	    <integer>-23</integer>
	    <key>e</key>
	    <integer>-23</integer>
	    <key>d</key>
	    <integer>-23</integer>
	    <key>c</key>
	    <integer>-23</integer>
	</dict>
	<key>exclamdown</key>
	<dict>
	    <key>uni021A</key>
	    <integer>-78</integer>
	    <key>Ydieresis</key>
	    <integer>-62</integer>
	    <key>Ycircumflex</key>
	    <integer>-62</integer>
	    <key>Wcircumflex</key>
	    <integer>-39</integer>
	    <key>Tbar</key>
	    <integer>-78</integer>
	    <key>Tcaron</key>
	    <integer>-78</integer>
	    <key>uni0162</key>
	    <integer>-78</integer>
	    <key>Yacute</key>
	    <integer>-62</integer>
	    <key>Y</key>
	    <integer>-62</integer>
	    <key>W</key>
	    <integer>-39</integer>
	    <key>V</key>
	    <integer>-39</integer>
	    <key>T</key>
	    <integer>-78</integer>
	    <key>j</key>
	    <integer>62</integer>
	    <key>J</key>
	    <integer>121</integer>
	</dict>
	<key>Eth</key>
	<dict>
	    <key>AE</key>
	    <integer>-85</integer>
	</dict>
	<key>Ograve</key>
	<dict>
	    <key>AE</key>
	    <integer>-49</integer>
	    <key>x</key>
	    <integer>-25</integer>
	    <key>X</key>
	    <integer>-37</integer>
	</dict>
	<key>Oacute</key>
	<dict>
	    <key>AE</key>
	    <integer>-49</integer>
	    <key>x</key>
	    <integer>-25</integer>
	    <key>X</key>
	    <integer>-37</integer>
	</dict>
	<key>Ocircumflex</key>
	<dict>
	    <key>AE</key>
	    <integer>-49</integer>
	    <key>x</key>
	    <integer>-25</integer>
	    <key>X</key>
	    <integer>-37</integer>
	</dict>
	<key>Otilde</key>
	<dict>
	    <key>AE</key>
	    <integer>-49</integer>
	    <key>x</key>
	    <integer>-25</integer>
	    <key>X</key>
	    <integer>-37</integer>
	</dict>
	<key>Odieresis</key>
	<dict>
	    <key>AE</key>
	    <integer>-49</integer>
	    <key>x</key>
	    <integer>-25</integer>
	    <key>X</key>
	    <integer>-37</integer>
	</dict>
	<key>Oslash</key>
	<dict>
	    <key>AE</key>
	    <integer>-49</integer>
	    <key>x</key>
	    <integer>-25</integer>
	    <key>X</key>
	    <integer>-37</integer>
	</dict>
	<key>Ugrave</key>
	<dict>
	    <key>AE</key>
	    <integer>-40</integer>
	    <key>z</key>
	    <integer>-22</integer>
	    <key>M</key>
	    <integer>-19</integer>
	</dict>
	<key>Uacute</key>
	<dict>
	    <key>AE</key>
	    <integer>-40</integer>
	    <key>z</key>
	    <integer>-22</integer>
	    <key>M</key>
	    <integer>-19</integer>
	</dict>
	<key>Ucircumflex</key>
	<dict>
	    <key>AE</key>
	    <integer>-40</integer>
	    <key>z</key>
	    <integer>-22</integer>
	    <key>M</key>
	    <integer>-19</integer>
	</dict>
	<key>Udieresis</key>
	<dict>
	    <key>AE</key>
	    <integer>-40</integer>
	    <key>z</key>
	    <integer>-22</integer>
	    <key>M</key>
	    <integer>-19</integer>
	</dict>
	<key>Yacute</key>
	<dict>
	    <key>AE</key>
	    <integer>-133</integer>
	    <key>z</key>
	    <integer>-78</integer>
	    <key>M</key>
	    <integer>-82</integer>
	</dict>
	<key>ograve</key>
	<dict>
	    <key>z</key>
	    <integer>-27</integer>
	    <key>x</key>
	    <integer>-21</integer>
	</dict>
	<key>oacute</key>
	<dict>
	    <key>z</key>
	    <integer>-27</integer>
	    <key>x</key>
	    <integer>-21</integer>
	</dict>
	<key>ocircumflex</key>
	<dict>
	    <key>z</key>
	    <integer>-27</integer>
	    <key>x</key>
	    <integer>-21</integer>
	</dict>
	<key>otilde</key>
	<dict>
	    <key>z</key>
	    <integer>-27</integer>
	    <key>x</key>
	    <integer>-21</integer>
	</dict>
	<key>odieresis</key>
	<dict>
	    <key>z</key>
	    <integer>-27</integer>
	    <key>x</key>
	    <integer>-21</integer>
	</dict>
	<key>oslash</key>
	<dict>
	    <key>z</key>
	    <integer>-27</integer>
	    <key>x</key>
	    <integer>-21</integer>
	</dict>
	<key>yacute</key>
	<dict>
	    <key>x</key>
	    <integer>-12</integer>
	</dict>
	<key>thorn</key>
	<dict>
	    <key>z</key>
	    <integer>-27</integer>
	    <key>x</key>
	    <integer>-21</integer>
	</dict>
	<key>ydieresis</key>
	<dict>
	    <key>x</key>
	    <integer>-12</integer>
	</dict>
	<key>Dcaron</key>
	<dict>
	    <key>AE</key>
	    <integer>-85</integer>
	</dict>
	<key>dcaron</key>
	<dict>
	    <key>l</key>
	    <integer>53</integer>
	    <key>k</key>
	    <integer>48</integer>
	    <key>h</key>
	    <integer>46</integer>
	    <key>b</key>
	    <integer>50</integer>
	</dict>
	<key>Dcroat</key>
	<dict>
	    <key>AE</key>
	    <integer>-85</integer>
	</dict>
	<key>gcircumflex</key>
	<dict>
	    <key>f</key>
	    <integer>25</integer>
	</dict>
	<key>gbreve</key>
	<dict>
	    <key>f</key>
	    <integer>25</integer>
	</dict>
	<key>gdotaccent</key>
	<dict>
	    <key>f</key>
	    <integer>25</integer>
	</dict>
	<key>gcommaaccent</key>
	<dict>
	    <key>f</key>
	    <integer>25</integer>
	</dict>
	<key>lcaron</key>
	<dict>
	    <key>l</key>
	    <integer>17</integer>
	    <key>k</key>
	    <integer>25</integer>
	    <key>i</key>
	    <integer>21</integer>
	    <key>h</key>
	    <integer>17</integer>
	    <key>b</key>
	    <integer>18</integer>
	</dict>
	<key>Omacron</key>
	<dict>
	    <key>AE</key>
	    <integer>-49</integer>
	    <key>x</key>
	    <integer>-25</integer>
	    <key>X</key>
	    <integer>-37</integer>
	</dict>
	<key>omacron</key>
	<dict>
	    <key>z</key>
	    <integer>-27</integer>
	    <key>x</key>
	    <integer>-21</integer>
	</dict>
	<key>Obreve</key>
	<dict>
	    <key>AE</key>
	    <integer>-49</integer>
	    <key>x</key>
	    <integer>-25</integer>
	    <key>X</key>
	    <integer>-37</integer>
	</dict>
	<key>obreve</key>
	<dict>
	    <key>z</key>
	    <integer>-27</integer>
	    <key>x</key>
	    <integer>-21</integer>
	</dict>
	<key>Ohungarumlaut</key>
	<dict>
	    <key>AE</key>
	    <integer>-49</integer>
	    <key>x</key>
	    <integer>-25</integer>
	    <key>X</key>
	    <integer>-37</integer>
	</dict>
	<key>ohungarumlaut</key>
	<dict>
	    <key>z</key>
	    <integer>-27</integer>
	    <key>x</key>
	    <integer>-21</integer>
	</dict>
	<key>uni0162</key>
	<dict>
	    <key>AE</key>
	    <integer>-122</integer>
	    <key>z</key>
	    <integer>-116</integer>
	    <key>x</key>
	    <integer>-104</integer>
	    <key>M</key>
	    <integer>-71</integer>
	</dict>
	<key>Tcaron</key>
	<dict>
	    <key>AE</key>
	    <integer>-122</integer>
	    <key>z</key>
	    <integer>-116</integer>
	    <key>x</key>
	    <integer>-104</integer>
	    <key>M</key>
	    <integer>-71</integer>
	</dict>
	<key>Tbar</key>
	<dict>
	    <key>scommaaccent</key>
	    <integer>-56</integer>
	    <key>zcaron</key>
	    <integer>-78</integer>
	    <key>zdotaccent</key>
	    <integer>-78</integer>
	    <key>zacute</key>
	    <integer>-78</integer>
	    <key>wcircumflex</key>
	    <integer>-62</integer>
	    <key>uogonek</key>
	    <integer>-67</integer>
	    <key>uhungarumlaut</key>
	    <integer>-71</integer>
	    <key>uring</key>
	    <integer>-71</integer>
	    <key>ubreve</key>
	    <integer>-71</integer>
	    <key>umacron</key>
	    <integer>-71</integer>
	    <key>utilde</key>
	    <integer>-71</integer>
	    <key>scedilla</key>
	    <integer>-56</integer>
	    <key>rcommaaccent</key>
	    <integer>-67</integer>
	    <key>oe</key>
	    <integer>-56</integer>
	    <key>ohungarumlaut</key>
	    <integer>-37</integer>
	    <key>eng</key>
	    <integer>-67</integer>
	    <key>ncaron</key>
	    <integer>-71</integer>
	    <key>ncommaaccent</key>
	    <integer>-67</integer>
	    <key>nacute</key>
	    <integer>-71</integer>
	    <key>dotlessi</key>
	    <integer>-67</integer>
	    <key>gcommaaccent</key>
	    <integer>-67</integer>
	    <key>gdotaccent</key>
	    <integer>-67</integer>
	    <key>gbreve</key>
	    <integer>-67</integer>
	    <key>gcircumflex</key>
	    <integer>-67</integer>
	    <key>eogonek</key>
	    <integer>-56</integer>
	    <key>edotaccent</key>
	    <integer>-37</integer>
	    <key>ebreve</key>
	    <integer>-37</integer>
	    <key>emacron</key>
	    <integer>-37</integer>
	    <key>dcaron</key>
	    <integer>-56</integer>
	    <key>ccaron</key>
	    <integer>-37</integer>
	    <key>cdotaccent</key>
	    <integer>-37</integer>
	    <key>ccircumflex</key>
	    <integer>-37</integer>
	    <key>cacute</key>
	    <integer>-37</integer>
	    <key>aogonek</key>
	    <integer>-78</integer>
	    <key>abreve</key>
	    <integer>-78</integer>
	    <key>amacron</key>
	    <integer>-78</integer>
	    <key>udieresis</key>
	    <integer>-71</integer>
	    <key>ucircumflex</key>
	    <integer>-71</integer>
	    <key>uacute</key>
	    <integer>-71</integer>
	    <key>ugrave</key>
	    <integer>-71</integer>
	    <key>oslash</key>
	    <integer>-56</integer>
	    <key>odieresis</key>
	    <integer>-37</integer>
	    <key>otilde</key>
	    <integer>-37</integer>
	    <key>ocircumflex</key>
	    <integer>-37</integer>
	    <key>oacute</key>
	    <integer>-37</integer>
	    <key>ograve</key>
	    <integer>-37</integer>
	    <key>ntilde</key>
	    <integer>-71</integer>
	    <key>edieresis</key>
	    <integer>-37</integer>
	    <key>ecircumflex</key>
	    <integer>-37</integer>
	    <key>eacute</key>
	    <integer>-37</integer>
	    <key>egrave</key>
	    <integer>-37</integer>
	    <key>ccedilla</key>
	    <integer>-56</integer>
	    <key>aring</key>
	    <integer>-78</integer>
	    <key>adieresis</key>
	    <integer>-78</integer>
	    <key>atilde</key>
	    <integer>-78</integer>
	    <key>acircumflex</key>
	    <integer>-78</integer>
	    <key>aacute</key>
	    <integer>-78</integer>
	    <key>agrave</key>
	    <integer>-78</integer>
	    <key>w</key>
	    <integer>-62</integer>
	    <key>v</key>
	    <integer>-62</integer>
	    <key>u</key>
	    <integer>-67</integer>
	    <key>s</key>
	    <integer>-56</integer>
	    <key>r</key>
	    <integer>-67</integer>
	    <key>p</key>
	    <integer>-67</integer>
	    <key>o</key>
	    <integer>-56</integer>
	    <key>n</key>
	    <integer>-67</integer>
	    <key>m</key>
	    <integer>-67</integer>
	    <key>g</key>
	    <integer>-67</integer>
	    <key>e</key>
	    <integer>-56</integer>
	    <key>d</key>
	    <integer>-56</integer>
	    <key>c</key>
	    <integer>-56</integer>
	    <key>a</key>
	    <integer>-78</integer>
	    <key>period</key>
	    <integer>-67</integer>
	    <key>comma</key>
	    <integer>-67</integer>
	    <key>AE</key>
	    <integer>-122</integer>
	    <key>z</key>
	    <integer>-78</integer>
	    <key>M</key>
	    <integer>-78</integer>
	</dict>
	<key>Utilde</key>
	<dict>
	    <key>AE</key>
	    <integer>-40</integer>
	    <key>z</key>
	    <integer>-22</integer>
	    <key>M</key>
	    <integer>-19</integer>
	</dict>
	<key>Ubreve</key>
	<dict>
	    <key>AE</key>
	    <integer>-40</integer>
	    <key>z</key>
	    <integer>-22</integer>
	    <key>M</key>
	    <integer>-19</integer>
	</dict>
	<key>Uring</key>
	<dict>
	    <key>AE</key>
	    <integer>-40</integer>
	    <key>z</key>
	    <integer>-22</integer>
	    <key>M</key>
	    <integer>-19</integer>
	</dict>
	<key>Uogonek</key>
	<dict>
	    <key>AE</key>
	    <integer>-40</integer>
	    <key>z</key>
	    <integer>-22</integer>
	    <key>M</key>
	    <integer>-19</integer>
	</dict>
	<key>Wcircumflex</key>
	<dict>
	    <key>AE</key>
	    <integer>-200</integer>
	    <key>z</key>
	    <integer>-89</integer>
	    <key>M</key>
	    <integer>-111</integer>
	</dict>
	<key>Ycircumflex</key>
	<dict>
	    <key>AE</key>
	    <integer>-133</integer>
	    <key>z</key>
	    <integer>-78</integer>
	    <key>M</key>
	    <integer>-82</integer>
	</dict>
	<key>ycircumflex</key>
	<dict>
	    <key>x</key>
	    <integer>-12</integer>
	</dict>
	<key>Ydieresis</key>
	<dict>
	    <key>AE</key>
	    <integer>-133</integer>
	    <key>z</key>
	    <integer>-78</integer>
	    <key>M</key>
	    <integer>-82</integer>
	</dict>
	<key>longs</key>
	<dict>
	    <key>question</key>
	    <integer>67</integer>
	</dict>
	<key>uni021A</key>
	<dict>
	    <key>AE</key>
	    <integer>-122</integer>
	    <key>z</key>
	    <integer>-116</integer>
	    <key>x</key>
	    <integer>-104</integer>
	    <key>M</key>
	    <integer>-71</integer>
	</dict>
    </dict>
</plist>
